.game_field {
	margin: auto;
}

.field_container {
	display: flex;
	flex-wrap: wrap;

	margin:  auto;
	max-width: 500px;
}

.cell {
	display:  flex;
	justify-content: center;
	align-items: center;

	margin: 10px;
	width: 100px;
	height: 100px;

	background-color: #2e28285c;
}

.img_goblin {
	width:  100%;
}
